node_modules
.expo
.expo-shared
dist
build
.env
backend/.env
mobile/.env
*-firebase-adminsdk-*.json
firebase-service-account.json
GoogleService-Info.plist
.DS_Store
*.log
coverage
mobile/.expo
mobile/.expo-shared
backend/dist
